/* .navbar{
    height: 100vh;
}
.mainbox{
    display: flex;
}
.loginout:hover{
    cursor: pointer;
} */
.content{
    border-radius: 10px ;
    background-color: #FFFFFF;
    height: 100vh;
}
.demo-logo-vertical{
    height: 70px;
    background-image: url('../assest/logo.png');
    background-repeat: no-repeat;
    background-position: center;
}
